.sky-banner
{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/sky-banner.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.sky-banner h1
{
    color: #ffffff;
    font-size: 50px;
}


.search
{
    width: 100%;
}

.ant-input-search-button
{
    background-color: #2A4580;
    border: 1px solid #2A4580;
}

.ant-input-search-enter-button input + .ant-input-group-addon .ant-input-search-button:hover
{
    background-color: #2A4580;
    border: 1px solid #2A4580;
}